<h1>Search Results</h1>
<% @books.each do |book| %>
  <ul class="book">
    <li class="name"><%= book.name %></li>
    <li class="name"><%= book.name %></li>
    <li class="name"><%= book.name %></li>
  </ul>
<% end %>
